MessengerClient/Connected Services/ServiceMessenger/ServiceMessenger.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceMessenger" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceMessenger_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceMessenger_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IServiceMessenger_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMessenger_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IServiceMessenger_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMessenger_GetUsersList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersList" />
  </wsdl:message>
  <wsdl:message name="IServiceMessenger_GetUsersList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersListResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMessenger_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IServiceMessenger_ChatMemberLeftCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ChatMemberLeftCallback" />
  </wsdl:message>
  <wsdl:message name="IServiceMessenger_ChatMemberJoinedCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ChatMemberJoinedCallback" />
  </wsdl:message>
  <wsdl:message name="IServiceMessenger_MessageCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MessageCallback" />
  </wsdl:message>
  <wsdl:portType name="IServiceMessenger">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMessenger/Connect" message="tns:IServiceMessenger_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMessenger/ConnectResponse" message="tns:IServiceMessenger_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMessenger/Disconnect" message="tns:IServiceMessenger_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMessenger/DisconnectResponse" message="tns:IServiceMessenger_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMessenger/GetUsersList" message="tns:IServiceMessenger_GetUsersList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMessenger/GetUsersListResponse" message="tns:IServiceMessenger_GetUsersList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMessenger/SendMessage" message="tns:IServiceMessenger_SendMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChatMemberLeftCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMessenger/ChatMemberLeftCallback" message="tns:IServiceMessenger_ChatMemberLeftCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChatMemberJoinedCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMessenger/ChatMemberJoinedCallback" message="tns:IServiceMessenger_ChatMemberJoinedCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="MessageCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMessenger/MessageCallback" message="tns:IServiceMessenger_MessageCallback_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServiceMessenger" type="tns:IServiceMessenger">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceMessenger_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IServiceMessenger/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IServiceMessenger/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersList">
      <soap12:operation soapAction="http://tempuri.org/IServiceMessenger/GetUsersList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IServiceMessenger/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ChatMemberLeftCallback">
      <soap12:operation soapAction="http://tempuri.org/IServiceMessenger/ChatMemberLeftCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChatMemberJoinedCallback">
      <soap12:operation soapAction="http://tempuri.org/IServiceMessenger/ChatMemberJoinedCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageCallback">
      <soap12:operation soapAction="http://tempuri.org/IServiceMessenger/MessageCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceMessenger">
    <wsdl:port name="NetTcpBinding_IServiceMessenger" binding="tns:NetTcpBinding_IServiceMessenger">
      <soap12:address location="net.tcp://192.168.0.140:7602/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.0.140:7602/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-BTRBT9G\Антон</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>